<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div>
        <label for="nome">Nome</label>
        <input type="text" formControlName="nome" id="nome" placeholder="Nome" >
    </div>

    <div>
        <label for="email">Email</label>
        <input type="email" formControlName="email" id="email" placeholder="nome@email.com">
    </div>

    <div formGroupName="endereco">
        <div class="cep">
            <label for="cep">CEP</label>
            <input type="text" formControlName="cep" id="cep"
            (blur)="consultaCEP()">
            <label for="complemento">Complemento</label>
            <input type="text" formControlName="complemento" id="complemento">
        </div>

        <div class="Rua">
            <label for="rua">Rua</label>
            <input type="text" formControlName="rua" id="rua">
        </div>

        <div class="end">
            <label for="bairro">Bairro</label>
            <input type="text" formControlName="bairro" id="bairro">
            <label for="cidade">Cidade</label>
            <input type="text" formControlName="cidade" id="cidade">
            <label for="estado">Estado</label>
            <select formControlName="estado" id="estado">
                <option *ngFor="let estado of estados | async" [value]="estado.sigla"> {{ estado.nome }}</option>
            </select>
        </div>

    </div>
    <div class="extra">
    <!-- Select onde o usuário pode selecionar multiplos valores -->
        <label for="Tecnologia">Tecnologia</label>
        <select multiple formControlName="tecnologia">
            <option *ngFor="let tecnologia of tecnologias" [value]="tecnologia.desc">{{ tecnologia.nome }}</option>
        </select>

        <!-- Input Radio -->
        <div id="Newsletter" >
            <label for="Newsletter">Newsletter</label>
            <div *ngFor="let item of newsLetterOp">
                <input type="radio" formControlName="newsLetter" [value]="item.valor" > {{ item.desc }}
            </div>
        </div>

        <div id="checkbox">
            <input type="checkbox" formControlName="termos"> Aceito os termos.
        </div>

        <!-- Explicado -->
        <label for="frameworks">Frameworks</label>
        <div id="MultipleCheckBoxes" *ngFor="let item of formulario.get('frameWorks')?.value; let i = index">
            <input type="checkbox" [formControlName]="i"> {{ frameWorks[i] }}
        </div>
        
    </div>



    <button type="submit">Submit</button>
    <button type="button" (click)="resetarForm()">Cancelar</button>
</form>

<!-- 

[formGroup]="formulario" -> associar o meu formulário com a variável de formulário 
que existe no component;

formControlName="nome" -> associar o input com o nome do atributo dentro da variável formulário

-->


<!-- 2°

    *ngFor="let item of formulario.get('frameWorks')?.value; let i = index"

    frameWorks é um variável FormBuilder que possui formControls, sendo assim
    estamos passando esses formControls para dentro de item.

    let i = index, atribui o valor do index dos formControls dentro do formBuilder frameWorks

     formControlName="i">
-->